[submodule "third_lib/kalman"]
	path = include/kalman
	url = https://github.com/mherb/kalman.git
[submodule "third_lib/OneEuroFilter"]
	path = include/OneEuroFilter
	url = https://github.com/casiez/OneEuroFilter.git
[submodule "third_lib/serial"]
	path = include/serial
	url = https://github.com/wjwwood/serial.git  
