[submodule "third_lib/kalman"]
	path = third_lib/kalman
	url = https://github.com/mherb/kalman.git
[submodule "third_lib/OneEuroFilter"]
	path = third_lib/OneEuroFilter
	url = https://github.com/casiez/OneEuroFilter.git
[submodule "third_lib/serial"]
	path = third_lib/serial
	url = https://github.com/wjwwood/serial.git  
