# Ignore build artifacts
build/

# Editor and OS temp files
*~
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# Logs and temporary outputs
*.log
*.out
*.err

# Python caches
__pycache__/
*.py[cod]

# Compiled binaries and objects
*.o
*.so
*.a
*.dll
*.exe

test/*
!test/enemy_key_tcp_simulator.cc
!test/ui_sender_test.cc
